#rejestracja
    h2 Zarejestruj się
      p  Dołącz do nas dzisiaj i zacznij wymieniać się książkami 
      form(onsubmit='return validate()', name='login')
        fieldset
          dl
            dt
              label(for='użytkownik-input') Nazwa użytkownika
            dd
              input#użytkownik-input(type='text', name='userName')
            dt
              label(for='hasło-input')  Hasło 
            dd
              input#hasło-input(type='text', name='password')
            dt
              label(for='urodziny-input') Data urodzenia
            dd
              input#urodziny-input(type='text', name='urodziny')
            dt
              label(for='email-input') Email
            dd
              input#email-input(type='text', onblur='emailchk()', name='email')
            dt Płeć
            dd
              input#płeć-pani-input(type='radio', name='płeć')
              label(for='płeć-pani-input') Pani
              input#płeć-pan-input(type='radio', name='płeć')
              label(for='płeć-pan-input') Pan
          input(type='submit', value='Zapisz się')

