<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="styles.css" type="text/css"?>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.w3.org/2002/08/xhtml/xhtml1-strict.dtd" xml:lang="pl">
 <!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- <xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl"> -->
<!-- <html xmlns="http://www.w3.org/1999/xhtml"> -->
 <head>
  <link rel="stylesheet" type="text/css" href="styles.css"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>Familija książki</title>
 </head>
 <body>

  <div id="nagłówek"> 
   <ol id="nawigacja">
    <li><a href="/">Główna</a></li>
    <li><a href="/browse">Szukaj</a></li>
    <li><a href="/about">Podobne</a></li>
    <li><a href="/join">Dołącz do nas</a></li>
    <li><a href="/login" >Zaloguj się</a></li>
  </ol>

 <h1> Familija książki </h1>

  </div>
  <div id="treść">
   <div id="podobne-strony">
    <h2>Podobne strony</h2>
     <ul>
      <li><a href="http://www.bookcrossing.com" title="Book Crossing" > book crossing </a></li>
      <li><a href="http://bookmooch.com" title="Book Mooch" > book mooch </a></li>
     </ul>
    </div>
  <div id="rejestracja">
     <h2>Zarejestruj się</h2>
     <p> Dołącz do nas dzisiaj </script>
 
<script type="text/javascript"><!--
var date = new Date();
var d  = date.getDate();
var day = (d < 10) ? '0' + d : d;
var m = date.getMonth() + 1;
var month = (m < 10) ? '0' + m : m;
var yy = date.getYear();
var year = (yy < 1000) ? yy + 1900 : yy;

document.write(day + "/" + month + "/" + year);
 //--></script>

 i zacznij wymieniać się książkami </p>

     <form onsubmit="return validate()" name="login"
      <fieldset>

        <dl>
	<dt><label for="użytkownik-input" >Nazwa użytkownika</label></dt>
	<dd><input type="text" name="userName" id="użytkownik-input"></dd>
	<dt><label for="hasło-input" > Hasło </label></dt>
	<dd><input type="text" name="password" id="hasło-input"></dd>
	<dt><label for="urodziny-input" >Data urodzenia</label></dt>
	<dd><input type="text" name="urodziny" id="urodziny-input"></dd>
	<dt><label for="email-input" >Email</label></dt>
        <dd><input type="text" onblur="emailchk()" name="email" id="email-input"></dd>	
        <dt>Płeć</dt>
        <dd>
         <input type="radio" name="płeć" id="płeć-pani-input">
         <label for="płeć-pani-input">Pani</label>
         <input type="radio" name="płeć" id="płeć-pan-input">
         <label for="płeć-pan-input">Pan</label>
        </dd>
       </dl>
      <input type="submit" value="Zapisz się">
     </fieldset>
    </form>
   </div>

<script type="text/javascript">
<!--
function validate()
{
if(document.login.userName.value=="")
{
	alert ("Proszę wpisać nazwę użytkownika")
	return false
}
if(document.login.password.value=="")
{
	alert ("Proszę wpisać hasło")
	return false
}
if(document.login.urodziny.value=="")
{
	alert ("Proszę wpisać datę urodzenia")
	return false
}
if(document.login.email.value=="")
{
	alert ("Proszę wpisać adres email")
	return false
}
}
//-->
</script>

<script type="text/javascript">
<!--
function emailchk()
{
var x=document.login.email.value
if (x.indexOf("@")==-1)
{
	alert("Proszę wpisać poprawny email adres")
	document.login.email.focus()
}
}
//-->


   </div>
  </div>
  <div id="stopka">
<a rel =license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.pl"><img alt="Licencja Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a>



 <!--  <a rel="license"      href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.pl"><img alt="Licencja Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a><br />Ta strona jest dostępna na <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.pl">licencji Creative Commons Uznanie autorstwa-Użycie niekomercyjne-Na tych samych warunkach 3.0 Unported</a>. -->
  </div>
 </body>
</html>
